<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>quick-table-editor</display-name>

    <servlet>
        <description>
        </description>
        <display-name>AdminCrudServlet</display-name>
        <servlet-name>AdminCrudServlet</servlet-name>
        <servlet-class>com.ct.ks.bsc.qte.servlet.AdminCrudServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCrudServlet</servlet-name>
        <url-pattern>/admin/admin-crud</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
