<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>quick-table-editor</display-name>

    <filter>
        <description>
        </description>
        <display-name>SetCharacterEncodingFilter</display-name>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.ct.ks.bsc.qte.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <description>
        </description>
        <display-name>HttpServletRequestWrapperFilter</display-name>
        <filter-name>HttpServletRequestWrapperFilter</filter-name>
        <filter-class>com.ct.ks.bsc.qte.filter.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter>
        <description>
        </description>
        <filter-name>UserAuthenticationFilter</filter-name>
        <filter-class>com.ct.ks.bsc.qte.filter.UserAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <description>
        </description>
        <display-name>AdminAuthenticationFilter</display-name>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>com.ct.ks.bsc.qte.filter.AdminAuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpServletRequestWrapperFilter</filter-name>
        <url-pattern>/authenticated/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthenticationFilter</filter-name>
        <url-pattern>/authenticated/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/authenticated/admin/*</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>com.ct.ks.bsc.qte.listener.AppListener</listener-class>
    </listener>

    <servlet>
        <description>
        </description>
        <servlet-name>AdminCrudServlet</servlet-name>
        <servlet-class>com.ct.ks.bsc.qte.servlet.AdminCrudServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <servlet-name>LogInOutServlet</servlet-name>
        <servlet-class>com.ct.ks.bsc.qte.servlet.LogInOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCrudServlet</servlet-name>
        <url-pattern>/authenticated/admin/admin-crud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInOutServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>authenticated/main.html</welcome-file>
    </welcome-file-list>
</web-app>
